<section  class="container">
    <div *ngIf="favorites.length != 0" class="card favorites-card">
        <div class="card-body">
            <div class="card-title title">
                Seus favoritos
            </div>
            <div class="card-text" 
                *ngFor="let item of favorites">

                <div class="row">
                    <div class="col-md-12">

                        <hr>

                        <div class="row">

                            <div class="col-sm-12">
                                <span class="book-title">
                                    {{ item.volumeInfo.title }}
                                </span>
                                <span *ngIf="!!item.volumeInfo.subtitle">
                                    - {{ item.volumeInfo.subtitle }}
                                </span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <img class="thumbs" [src]="getVolumeThumbnail(item.volumeInfo)"
                                    [alt]="item.volumeInfo.title">
                            </div>

                            <div class="col-sm-6 col-md-4">

                                <div class="row" >
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-12" *ngIf="!!item && !!item.volumeInfo && item.volumeInfo.authors.length > 0">
                                                Autor<span
                                                    *ngIf="!!item.volumeInfo && !!item.volumeInfo.authors && item.volumeInfo.authors.length > 1">es</span>:
                                                <div class="row" *ngFor="let author of item.volumeInfo.authors">
                                                    <div class="col-sm-12">
                                                        {{ author }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <app-book-details-modal [item]="item" (storageChanged)="getFavorites()"></app-book-details-modal>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div *ngIf="favorites.length == 0" class="card favorites-card">
        <div class="card-body">
            <div class="card-title title">
                Ainda não há nenhum favorito...
            </div>
            <div class="card-text">
                <button class="button btn btn-primary" (click)="redirectToHome()"> Pesquisar livros </button>
            </div>
        </div>
    </div>
</section>
